@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url(./cars.jpg) no-repeat bottom;
  z-index: -1;
  background-size: cover;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo h2 {
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 2px;
  cursor: pointer;
  transform: translateX(-1000px);
  animation: roll-in 1s ease-out forwards;
}

.pages ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages ul li {
  list-style: none;
  transform: translateX(1000px);
  animation: roll-in 1s ease-out forwards var(--i);
}

/*.pages ul li:nth-child(4) {
  animation-delay: 0s;
}

.pages ul li:nth-child(3) {
  animation-delay: 1s;
}

.pages ul li:nth-child(2) {
  animation-delay: 1s;
}

.pages ul li:nth-child(1) {
  animation-delay: 1.5s;
}*/
.pages ul li a {
  text-decoration: none;
  color: #000;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  transition: all 0.5s;
}

.pages ul li a::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.5s;
}

.pages ul li .active {
  color: #fff;
}

.pages ul li .active::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  bottom: -5px;
  left: 0;
  transform: scaleX(1);
  transform-origin: center;
  transition: all 0.5s;
}

.pages ul li a:hover {
  color: #fff;
}

.pages ul li a:hover::before {
  transform: scaleX(1);
}

@keyframes roll-in {
  0% {
  }

  100% {
    transform: translateX(0);
  }
}

.head-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 10px;
  color: #fff;
}

.btn {
  color: #000;
  background: #fff;
  padding: 10px 40px;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 2px;
  border-radius: 3px;
  cursor: pointer;
}

.foot {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot p {
  color: #fff;
}

.menu-close,
.menu-open {
  display: none;
}

@media only screen and (max-width: 480px) {
  .menu-open {
    display: inline;
    color: #000;
    font-size: 24px;
  }

  .menu-close {
    position: absolute;
    top: 0px;
    right: 20px;
    display: block;
    font-size: 24px;
    border-radius: 50%;
  }

  .pages {
    position: fixed;
    top: 0;
    right: -100%;
    background: #000;
    color: #fff;
    width: 50%;
    height: 100vh;
    padding: 24px 0;
    z-index: 100;
    transition: 0.5s;
  }

  .logo h2 {
    font-size: 18px;
  }

  .pages ul {
    display: flex;
    flex-direction: column;
  }

  .pages ul li {
    margin: 3rem 0;
  }

  .pages ul li a {
    font-size: 10px;
    margin-left: 2px;
    color: #fff;
  }

  .text {
    font-size: 50px;
  }

  .btn {
    font-size: 18px;
  }

  .show {
    right: 0;
  }
}

@media only screen and (min-width: 1000px) {
  .menu-close,
  .menu-open {
    display: none;
  }

  .logo h2 {
    font-size: 22px;
  }

  .navbar {
    padding: 10px 50px;
  }

  .pages ul li a {
    font-size: 15px;
    margin-left: 50px;
  }

  .text {
    font-size: 150px;
    letter-spacing: 30px;
  }

  .btn {
    font-size: 18px;
  }

  .foot p {
    font-size: 18px;
  }
}
